@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --font-sans: var(--font-roboto);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-amber: #fbbf24;
  --color-orange: #ea580c;
  --color-blue: #2563eb;
  --color-yellow: #facc15;
  --color-gray: #0f172a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}
